In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [38]:
ROOT = os.getcwd()
print(f'Root directory: {ROOT}')

Root directory: c:\Users\summe\Git Repos\BYU-Winter-2024\Econ 484\project

In [39]:
# check population estimate data
population_estimate_path = 'PopEstimates2000-2022.csv'
population_estimate = pd.read_csv(population_estimate_path)
population_estimate

           County  Year      Pop
0            Utah  2000  2244502
1            Utah  2001  2283715
2            Utah  2002  2324815
3            Utah  2003  2360137
4            Utah  2004  2401580
..            ...   ...      ...
685  Weber County  2018   255454
686  Weber County  2019   259680
687  Weber County  2020   262973
688  Weber County  2021   266588
689  Weber County  2022   269561

[690 rows x 3 columns]

In [40]:
# check gdp data
gdp_path = 'combined_county_gdp.csv'
gdp = pd.read_csv(gdp_path)
gdp

,CountyYear,All industry total,Private industries,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Durable goods manufacturing,Nondurable goods manufacturing,...,Management of companies and enterprises,Administrative and support and waste management and remediation services,"Educational services, health care, and social assistance",Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services","Arts, entertainment, and recreation",Accommodation and food services,Other services (except government and government enterprises),Government and government enterprises
0,Beaver2001,"191,997","164,768","85,463","2,962","5,979","5,276","5,721","1,843","3,878",...,0,S,"1,513",8,"1,505","8,326",S,S,"4,642","27,230"
1,Beaver2002,"163,172","134,415","51,465","3,010","6,392","4,909","6,030","1,842","4,188",...,0,S,"1,838",9,"1,829","8,667",S,S,"5,000","28,757"
2,Beaver2003,"168,209","139,940","42,292","4,125","6,702","3,789","7,099","1,789","5,309",...,0,S,"2,140",2,"2,138","7,665",S,S,"4,933","28,270"
3,Beaver2004,"242,371","212,499","99,425","6,165","6,828","3,163","6,873","2,438","4,435",...,0,S,"2,507",100,"2,407",S,S,S,"4,905","29,873"
4,Beaver2005,"259,145","227,052","99,232","9,622","6,510","4,018","7,010","2,332","4,677",...,0,S,"2,412",87,"2,325","7,927",S,S,S,"32,094"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,Weber2017,"10,619,369","8,940,219","27,962","5,892","30,954","630,862","2,276,760","1,737,435","539,325",...,"43,372","374,449","988,459","70,064","918,395","306,062","74,340","231,722","327,326","1,679,150"
605,Weber2018,"11,279,838","9,526,125","31,531","7,218","32,895","673,566","2,448,731","1,974,308","474,423",...,"49,194","381,820","1,060,023","78,819","981,203","321,452","79,563","241,889","338,339","1,753,713"
606,Weber2019,"12,003,388","10,169,577","46,940","14,809","38,467","721,334","2,538,802","1,947,193","591,609",...,"51,328","394,284","1,097,842","87,932","1,009,910","334,822","79,081","255,740","349,743","1,833,811"
607,Weber2020,"12,676,880","10,686,431","45,272","15,096","48,158","814,453","2,664,684","1,978,566","686,118",...,"50,146","412,702","1,075,242","76,475","998,767","313,164","74,580","238,584","389,268","1,990,449"
608,Weber2021,"14,206,181","12,064,908","41,452","21,624","44,776","832,761","3,293,360","2,515,314","778,046",...,"60,673","409,662","1,140,285","83,916","1,056,369","391,975","98,094","293,881","414,352","2,141,273"

In [41]:
# put population estimate data in the same format as gdp data
count=0
for county,year in zip(population_estimate['County'],population_estimate['Year']):
    county = county.split(' ')[0]
    new_row = f"{county}{year}"
    population_estimate.loc[count,'CountyYear'] = new_row
    count+=1
population_estimate.drop(columns=['County','Year'],inplace=True)
#move CountyYear to the first column
population_estimate = population_estimate.loc[:,['CountyYear','Pop']]
population_estimate

    CountyYear      Pop
0     Utah2000  2244502
1     Utah2001  2283715
2     Utah2002  2324815
3     Utah2003  2360137
4     Utah2004  2401580
..         ...      ...
685  Weber2018   255454
686  Weber2019   259680
687  Weber2020   262973
688  Weber2021   266588
689  Weber2022   269561

[690 rows x 2 columns]

In [42]:
# merge population estimate and gdp data on CountyYear
# perform a left merge to keep all the rows in population estimate
merged_data = pd.merge(population_estimate,gdp,on='CountyYear',how='left')
merged_data

,CountyYear,Pop,All industry total,Private industries,"Agriculture, forestry, fishing and hunting","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Durable goods manufacturing,...,Management of companies and enterprises,Administrative and support and waste management and remediation services,"Educational services, health care, and social assistance",Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services","Arts, entertainment, and recreation",Accommodation and food services,Other services (except government and government enterprises),Government and government enterprises
0,Utah2000,2244502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Utah2001,2283715,"8,855,095","7,752,436","25,310","5,599","21,182","532,161","1,154,474",S,...,"65,629","237,118","1,117,969","532,808","585,161","231,186","46,941","184,245","319,124","1,102,659"
2,Utah2002,2324815,"9,151,139","7,996,969","6,006","4,161","21,351","540,350","1,136,443","665,718",...,"69,330","229,727","1,185,245","544,963","640,282","240,455","38,572","201,883","358,848","1,154,170"
3,Utah2003,2360137,"9,662,439","8,462,019","36,275","4,141","20,697","527,341","1,136,291","660,303",...,"63,843","242,472","1,246,841","577,739","669,101","248,935","41,875","207,060","383,354","1,200,420"
4,Utah2004,2401580,"10,562,331","9,292,801","53,555","6,279","22,337","688,642","1,171,370","707,092",...,"71,456","300,843","1,313,322","626,330","686,991","262,983","44,539","218,444","407,488","1,269,530"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,Weber2018,255454,"11,279,838","9,526,125","31,531","7,218","32,895","673,566","2,448,731","1,974,308",...,"49,194","381,820","1,060,023","78,819","981,203","321,452","79,563","241,889","338,339","1,753,713"
686,Weber2019,259680,"12,003,388","10,169,577","46,940","14,809","38,467","721,334","2,538,802","1,947,193",...,"51,328","394,284","1,097,842","87,932","1,009,910","334,822","79,081","255,740","349,743","1,833,811"
687,Weber2020,262973,"12,676,880","10,686,431","45,272","15,096","48,158","814,453","2,664,684","1,978,566",...,"50,146","412,702","1,075,242","76,475","998,767","313,164","74,580","238,584","389,268","1,990,449"
688,Weber2021,266588,"14,206,181","12,064,908","41,452","21,624","44,776","832,761","3,293,360","2,515,314",...,"60,673","409,662","1,140,285","83,916","1,056,369","391,975","98,094","293,881","414,352","2,141,273"
689,Weber2022,269561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
merged_data.to_csv('utah_countys_pop_gdp.csv',index=False)